*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    width: 50vw;
   display: inline-block;
   margin: 20vh 25vw;
   background-image: url(b.jpeg);
   background-size:cover;
   /* background-position:bottom; */
   padding: 50px;
   border-radius: 8px;
}
h3,p{
    margin-bottom: 20px;
    text-align: center;
     font-family: jost, sans-serif;
      color: #fff;
     
}
#submit{
    padding: 5px;
    border-radius: 5px;
}
#guessNo{
    padding: 2px;
    border-radius: 5px;
}